<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/blocks"
           routerLinkActive="active">Blocks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/table" routerLinkActive="active">Table</a>
      </li>

      <section class="user-info" *ngIf="isLogin">
        <li class="nav-item navbar-text mr-sm-2">{{user.login}}</li>
        <li class="nav-item navbar-text mr-sm-2">
          <app-avatar [avatarUrl]="user.avatar" [height]="'20px'" [width]="'20px'"></app-avatar>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             id="navbarDropdownMenuLink"
             role="button" data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false" (click)="show()">
            Action
          </a>
          <div [class.show]="isShow" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="onLogout()">LogOut</a>
          </div>
        </li>
      </section>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" routerLink="/login"
           routerLinkActive="active">Sign in</a>
      </li>
    </ul>

  </div>
</nav>

